doctype html
html(lang=de)
  head
    title Lean Pages
    // bower:css
    link(rel='stylesheet', href='/semantic-ui/dist/semantic.css')
    // endbower
  body
    h1 Lean Pages&nbsp
      small A Static Pages Generator
